@model TableModel
@{
    if (ViewData is not null)
    {
        ViewData["Title"] = "Просмотр данных";
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Температура</th>
            <th>Влажность</th>
            <th>Давление</th>
            <th>Точка росы</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>Нижняя граница облачности</th>
            <th>Горизонтальная видимость</th>
            <th>Погодные условия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.records)
        {
            <tr>
                <td>@person.Created</td>
                <td>@person.Temperature</td>
                <td>@person.Humidity</td>
                <td>@person.Pressure</td>
                <td>@person.DewPoint</td>
                <td>@person.WindDirection</td>
                <td>@person.WindSpeed</td>
                <td>@person.Cloudiness</td>
                <td>@person.CloudBase</td>
                <td>@person.HorizontalVisibility</td>
                <td>@person.WeatherСonditions</td>
            </tr>
        }
    </tbody>
</table>